.contact {
	display: flex;
	flex-direction: column;
	gap: 26px;
}

.contact__block {
	display: grid;
	grid-template-columns: 80px 1fr;
	gap: 20px;
	align-items: center;
}

.avatar {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	object-fit: cover;
}

.contact__block-about {
	display: flex;
	flex-direction: column;
	gap: 26px;
}

.contact__info {
	color: #000;
	font-size: 16px;
	line-height: 1.5em;
}

.contact__sub-block {
	display: flex;
	gap: 12px;
}

.contact__sub-value {
	display: flex;
	gap: 12px;
	align-items: center;
}

.contact__sub-value:not(:last-child)::after {
	content: '';
	display: block;
	height: 4px;
	width: 4px;
	border-radius: 4px;
	background-color: #000;
}